@font-face {
  font-family: "iconfont"; /* Project id 3343609 */
  src: url('iconfont.woff2?t=1661394608269') format('woff2'),
       url('iconfont.woff?t=1661394608269') format('woff'),
       url('iconfont.ttf?t=1661394608269') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e62f";
}

.icon-bangzhu:before {
  content: "\e60d";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-shangla:before {
  content: "\e609";
}

.icon-PC:before {
  content: "\e627";
}

.icon-erweima:before {
  content: "\e604";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

.icon-zheng-triangle:before {
  content: "\e651";
}

.icon-bofang:before {
  content: "\e626";
}

.icon-xiayige1:before {
  content: "\e6ca";
}

.icon-shangyige:before {
  content: "\e602";
}

.icon-xiayige:before {
  content: "\e603";
}

.icon-icon-eye-close:before {
  content: "\e60c";
}

.icon-jurassic_openeyes:before {
  content: "\e6a0";
}

.icon-xiayiyeqianjinchakangengduo-yuankuang:before {
  content: "\e8f0";
}

.icon-huidaodingbu:before {
  content: "\e88d";
}

.icon-liaotian:before {
  content: "\e63e";
}

.icon-gouwuche:before {
  content: "\e635";
}

.icon-weibiaoti1:before {
  content: "\e632";
}

.icon-wodekefu:before {
  content: "\e68b";
}

.icon-geren:before {
  content: "\e653";
}

.icon-liwuhuodong:before {
  content: "\e601";
}

.icon-didian:before {
  content: "\e61a";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-weixiubanshou:before {
  content: "\e715";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

.icon-bell:before {
  content: "\e605";
}

.icon-delete-solid:before {
  content: "\e607";
}

.icon-message-solid:before {
  content: "\e608";
}

.icon-s-fold:before {
  content: "\e60a";
}

.icon-view:before {
  content: "\e60b";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-fenxiang1:before {
  content: "\e624";
}

.icon-guanbi:before {
  content: "\e625";
}

.icon-fenxiang:before {
  content: "\e645";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66d";
}

.icon-direction-up:before {
  content: "\e66e";
}

.icon-direction-left:before {
  content: "\e66f";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-history:before {
  content: "\e69b";
}

.icon-voice:before {
  content: "\e6a4";
}

.icon-icon-test1:before {
  content: "\e638";
}

.icon-icon-test2:before {
  content: "\e63c";
}

.icon-icon-test3:before {
  content: "\e64f";
}

