body {
    margin: 0 auto;
}

/* 头部开始 */
.head {
    width: 1480px;
    height: 160px;
    margin: 0 auto;
}

.head-auto {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}

.head-left-img {
    margin-top: 20px;
}

.head-left-img img {
    width: 204px;
    height: 52px;
    margin-top: 30px;
}

.head-input {
    width: 532px;
    margin: 0 100px;
    margin-top: 40px;
}

.bao {
    background-color: #ff3366;
    font-size: 12px;
    color: #fff;
    width: 54px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.dian {
    background-color: #f2f2f2;
    color: #666;
}

.inputs {
    width: 460px;
    height: 30px;
    border: 2px solid #f36;
    box-sizing: border-box;
    outline: none;
}

.search {
    height: 30px;
    width: 72px;
    background-color: #f36;
}

.search img {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
}

.head-input-bottom ul li {
    height: 28px;
    float: left;
    font-size: 12px;
    padding-top: 12px;
    margin-right: 5px;

}

.red {
    color: #f36;
}

.head-input-bottom ul li:hover {
    color: #f36;
}

/* 头部结束 */
/* 导航栏开始 */
.nav {
    width: 1480px;
    height: 35px;
    border-bottom: 1px solid #dedede;
    margin: 0 auto;
    padding-top: 30px;
}

.nav ul {
    width: 1200px;
    height: 35px;
    margin: 0 auto;
}

.nav ul li {
    float: left;
    width: 100px;
    font-weight: bold;
}

a:link {
    color: #444;
}

.nav ul li a:hover {
    color: #f36;
    border-bottom: 2px solid #f36;
}

.nav ul li a {
    padding-bottom: 12px;
}

.nav ul li:nth-child(1) a {
    color: #f36;
    border-bottom: 2px solid #f36;
}

/* 导航栏结束 */

/* 轮播图开始 */
.carousel {
    width: 1480px;
    height: 400px;
    margin: 0 auto;
    margin-top: 15px;

}

.box {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.box ul {
    width: 600%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.box ul li {
    width: 1200px;
    height: 400px;
    float: left;
}

.box-left {
    width: 36px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 0;
    background-image: url("../images/prev.png");
    display: none;

}

.box-right {
    width: 36px;
    height: 44px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -22px;
    background-image: url("../images/next.png");
    display: none;
}

.box ol {
    width: 110px;
    height: 10px;
    position: absolute;
    left: 50%;
    z-index: 2;
    bottom: 20px;
    margin-left: -55px;
}

.box ol li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    margin-right: 10px;
    z-index: 999;
}

.box ol li:last-child {
    margin-right: 0;
}

.box ol li.boxred {
    background-color: #f36;
}

/* 轮播图结束 */

/* 四卡片开始 */
.card {
    width: 1480px;
    height: 170px;
    margin: 0 auto;
}

.four-card {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.card-list {
    margin-top: 20px;
}

.card-list img {
    width: 300px;
}

/* 四卡片结束 */
/* 十卡片开始 */
.new {
    width: 1480px;
    height: 870px;
    margin: 0 auto;
    padding-top: 40px;
}

.newcard {
    width: 1200px;
    height: 870px;
    margin: 20px auto;
}

.newcard-top {
    width: 1200px;
    height: 30px;
    margin: 0 auto;

}

.two {
    margin: 20px auto;
    width: 200px;
    height: 26px;
}

.two1 {
    font-size: 20px;
}

.two1 span {
    padding-bottom: 10px;
}

.two1:nth-child(1) {
    color: #f36;
}

.two1:nth-child(1) span {
    border-bottom: 3px solid #f36;
}

.two1:hover {
    color: #f36;
}

.two1 span:hover {
    border-bottom: 3px solid #f36;
}

.more {
    font-size: 14px;
    margin-top: -34px;
}

.newcard-lists {
    width: 1200px;
    height: 800px;
    display: block;
}

.new-none {
    display: none;
}

.newcard-list {
    width: 224px;
    height: 400px;
    margin-right: 20px;
}

.newcard-list:nth-child(5n) {
    margin-right: 0px;
}

.newcard-list-img img {
    width: 224px;
    height: 340px;
}

.number {
    width: 224px;
    height: 20px;
    margin: 5px 0px;
}

.number-left {
    color: #f36;
}

.number-right {
    width: 45px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #99b5b7;
}

.number-right img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 5px;
}

.title {
    width: 224px;
    height: 20px;
}

.title-left img {
    width: 40px;
    height: 18px;
}

.title-right {
    width: 180px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

/* 十卡片结束 */

/*好物开始*/
.good {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.good-card-title {
    width: 1200px;
    height: 50px;
    line-height: 50px;
}

.good-card-title .title-left {
    font-size: 20px;
    color: #666;
    font-weight: bold;
}

.good-card-title .title-right {
    text-align: right;
    color: #999;
    margin-top: 15px;
}

.title-center {
    text-align: center;
    color: #666;
    margin-top: 15px;
}

.three-boxs {
    padding-top: 10px;
}

.three-box-top {
    position: relative;
}

.three-box-top .number {
    width: 390px;
    line-height: 300px;
    position: absolute;
    text-align: center;
    font-size: 23px;
    color: #666;
    left: -10px;
    top: 0;
}

.three-box-top img {
    width: 390px;
    height: 210px;
}

.three-box {
    border: 1px solid #ccc;
    width: 390px;
    margin-right: 10px;
}

.three-box:last-child {
    margin-right: 0;
}

.three-box-bottom {
    width: 400px;
    margin-top: 20px;
}

.three-box-bottom img {
    width: 114px;
    height: 130px;

}

.three-box-img {
    margin: 0 8px;
    text-align: center;
}

.three-box-img .three-box-text {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    padding-bottom: 10px;
}

/*好物结束*/


/*底部栏开始*/
.bottom-box {
    width: 100%;
    background-color: #ddd;
    border-top: 1px solid #333;
}

.bottom-auto {
    width: 1200px;
    height: 300px;
    background-color: #ddd;
    margin: 0 auto;
}

.bottom-care {
    width: 1200px;
    height: 230px;
    border-bottom: 1px solid #666;
}

.bottom-care ul {
    width: 170px;
    height: 190px;
    float: left;
    font-size: 12px;
    padding-top: 20px;
    color: #666;
}

.bottom-care ul li:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #333;

}

.bottom-care ul li {
    width: 170px;
    height: 40px;
    line-height: 40px;
}

.bottom-care ul li:hover {
    color: #f36;
}

.wx {
    width: 150px;
    float: left;
    margin-top: 25px;
    margin-left: 100px;
    color: #666;
}

.wx-title {
    text-align: center;
}

.wx img {
    margin-top: 20px;
    margin-left: 25px;
}

.bottom-text {
    width: 1200px;
    height: 70px;
}

.bottom-text p {
    height: 35px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
}

/*底部栏结束*/


/*侧边栏开始*/
.aside {
    position: fixed;
    width: 40px;
    top: 0;
    right: 0;
    background-color: #f6f6f6;

}

.aside ul {
    border-left: 1px solid #dedede;
}

.aside li {
    border-bottom: 1px solid #dedede;
}

.aside li:nth-child(1) {
    height: 70px;
}

.li-text {
    font-size: 16px;
    width: 10px;
    padding: 10px 12px;
}

.li-text ul li:nth-child(2) {
    position: relative;
}

.iconfont {
    color: #f36;
}

.aside li:hover {
    background-color: #f36;
    color: #fff;
}

.aside li:hover .iconfont {
    color: #fff;
}

.erweima {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 55px;
    left: -160px;
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 10px;
}

.aside ul li:nth-child(2):hover .erweima {
    display: block;
}

.aside ul li:nth-child(2):hover .three-white {
    display: block;
}

.three-white {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    position: absolute;
    background-color: 10px solid #fff;
    left: 0px;
    display: none;
    top: 110px;
}


/*侧边栏结束*/